@charset "ISO-8859-1";

.thisUser {
	font-weight: bold;
	font-size: 20px;
	
	border-style: solid;
	border-radius: 16px;
	border-color: #ddffff;
	background-color: #ddffff;
	display: table-cell;
}

.otherUser {
	font-size: 22px;
	

}
.otherUsername {
	font-size: 22px;
	border-style: solid;
	border-radius: 16px;
	border-color: #99ff99;
	background-color: #99ff99;
	margin-right: 10px;
}

.header {
	font-size: 30px;
}

.dataList {
	margin-left: 20px;
	margin-right: 20px;
}

.messageElement {
	border-style: solid;
	border-radius: 16px;
	border-color: #ddffff;
	background-color: #ddffff;
	border-left: 6px solid #2196F3;
	display: table-cell;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #0e97f9;
  color: white;
  text-align: center;
  padding-top: 15px;
  font-size: 18px;
  height: 4%;
}

h1 {
	text-align: center;
	font-size: 50px;
}

body {
	background-color: #5ec3f2;
	padding-left:10px;
	padding-right: 10px;
}
